"*":
  core:
    disabledPackages: [
      "js-refactor"
      "refactor"
      "language-babel"
      "remote-edit"
    ]
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 13
    invisibles: {}
  "exception-reporting":
    userId: "8860dc16-baf8-631c-7178-acd45a4f977e"
  "language-babel": {}
  react: {}
  refactor:
    highlightReference: false
  "remote-edit": {}
  "tree-view": {}
  welcome:
    showOnStartup: false
