".source.js":
  "asyncTest":
    prefix: "asyncTest"
    body: """
      asyncTest(done, function () {
      \t${0}
      \tdone();
      });
      """
  "then":
    prefix: "then"
    body: """
      then(function (${1:arguments}) {
      \t${0}
      });
      """
  "anonymous function":
    prefix: "f"
    body: "function (${1:arguments}) {${0}};"
  "inline function":
    prefix: "fi"
    body: "function (${1:arguments}) {${0}});"
  "describe":
    prefix: "desc"
    body: """
    describe('${1:description}', function () {
    \t${0}
    });
    """
  "it asynchronous":
    prefix: "ita"
    body: """
    it('${1:description}', function (done) {
    \t${0}
    \tdone();
    });
    """
  "it synchronous":
    prefix: "its"
    body: """
    it('${1:description}', function () {
    \t${0}
    });
    """
  "mocha before":
    prefix: "bf"
    body: """
    before(function () {
    \t${0}
    });
    """
  "mocha beforeEach":
    prefix: "bfe"
    body: """
    beforeEach(function () {
    \t${0}
    });
    """
  "mocha after":
    prefix: "aft"
    body: """
    after(function () {
    \t${0}
    });
    """
  "mocha afterEach":
    prefix: "afe"
    body: """
    afterEach(function () {
    \t${0}
    });
    """
